

*{
    margin: 0;
}
.upper-nav{
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    color: #ffffff;
    padding: 0 6px;
    font-family:sans-serif;
}
.more-brands{
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-brands>p{
    font-size: 12px;
    text-transform: uppercase;
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #555555;
    padding: 0 8px;
}
.birla-logo{
    height:50px;
    width:50px;
    background-image: url("/Collab_Two/images/birla-logo.png");
}
.reebok-logo{
    width: 160px;
    height: 21px;
}
.reebok-logo>img{
    width: 100%;
    height: 100%;
}
.lower-nav{
    display: flex;
    align-items: center;
}
.lower-nav>ul{
    list-style: none;
    display: flex;
    column-gap: 12px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}
.search-box{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
.search-box>input{
    border: none;
}
