.upper-nav{
    display: flex;
    justify-content: space-between;
    background-color: #252525;
}
.more-brands{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.birla-logo{
    height:50px;
    width:50px;
    background-image: url("/Collab_Two/images/birla-logo.png");
}